$font-stack: 'Arial', sans-serif;
$paragraph-font-size: 14px;
$paragraph-line-height: 20px;
$h1-font-size: 18px;
$h1-line-height: 26px;
$h2-font-size: 16px;
$h2-line-height: 22px;
$primary-color: #fbe8e1;
$secondary-color: #ededed;
$accent-color: #cd6033;

$neutral-light: #ecf6f6;
$neutral-dark: #1d1d1d;
$neutral-gray: #a2b4b4;

$desktop-constraint: 1440px;
$box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
$gutter: 20px;

.cs-container {
  max-width: $desktop-constraint;
  width: 100%;
  margin: $gutter 0;
  font: $font-stack;
}

.cs-flex-cols {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;

  & > .cs-flex-col-1 {
    flex: 1;
  }
}

.cs-tabs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .cs-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $neutral-gray;

    .cs-tab {
      font-size: $h1-font-size;
      font-weight: bold;
      line-height: 39px;
      padding: 0 20px;
      color: $neutral-dark;
      background-color: $neutral-gray;
      border-top: 1px solid $neutral-gray;
      border-right: 1px solid $neutral-gray;
      border-bottom: 1px solid $neutral-gray;

      &:first-child {
        border-left: 1px solid $neutral-gray;
      }

      a {
        text-decoration: none;
        color: $neutral-dark;
      }

      &.selected {
        line-height: 36px;
        background-color: $neutral-light;
        border-bottom: 4px solid $accent-color;
      }
    }
  }

  .cs-tab-content {
    width: 100%;
    padding: $gutter 0;
    flex: 1;
    background-color: $neutral-light;

    h1 {
      text-align: center;
    }
  }
}

header.cs-header{
  text-align: center;
}
.cs-table {
  width: 100%;
  border: none;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;

  tr {
    border: none;

    &:nth-child(even) {
      background-color: $secondary-color;
    }

    &:nth-child(odd) {
      background-color: $primary-color;
    }

    th {
      padding: 10px;
      font-size: $h2-font-size;
      line-height: $h2-line-height;
      font-weight: bold;
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom: 1px solid $neutral-gray;
    }

    td {
      padding: 10px;
      font-size: $paragraph-font-size;
      line-height: $paragraph-line-height;
      border-right: none;
      border-left: none;
      border-top: none;
    }
  }
}

.cs-form {
  margin: $gutter auto;
  padding: $gutter;
  background-color: $primary-color;
  max-width: 500px;

  label {
    display: block;
  }

  input, select, textarea {
    width: 100%;
    padding: 10px !important;
    font-size: $paragraph-font-size;
    line-height: $paragraph-line-height;
  }
}

.cs-form-supplement {
  margin: 20px auto;
  padding: 20px;
  background-color: $neutral-light;
}

.cs-loading {
  margin: 10px;
  vertical-align: middle;

  &::before {
    content: '';
    border: 4px solid $neutral-light;
    border-top: 4px solid $accent-color;
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    animation: spin 2s linear infinite;
  }
}

a.cs-action-button, button.cs-action-button, input.cs-action-button {
  padding: 10px 20px;
  text-align: center;
  background-color: $accent-color;
  color: $neutral-light;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover, &:active {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.3;
  }
}

a.cs-secondary-button, button.cs-secondary-button, input.cs-secondary-button, span.cs-secondary-button {
  padding: 5px 10px;
  text-align: center;
  background-color: $neutral-light;
  color: $neutral-dark;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $neutral-dark;
  cursor: pointer;

  &:hover, &:active {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.3;
  }
}