.cs-container {
  max-width: 1440px;
  width: 100%;
  margin: 20px 0;
  font: "Arial", sans-serif;
}

.cs-flex-cols {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}
.cs-flex-cols > .cs-flex-col-1 {
  flex: 1;
}

.cs-tabs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cs-tabs-container .cs-tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #a2b4b4;
}
.cs-tabs-container .cs-tabs .cs-tab {
  font-size: 18px;
  font-weight: bold;
  line-height: 39px;
  padding: 0 20px;
  color: #1d1d1d;
  background-color: #a2b4b4;
  border-top: 1px solid #a2b4b4;
  border-right: 1px solid #a2b4b4;
  border-bottom: 1px solid #a2b4b4;
}
.cs-tabs-container .cs-tabs .cs-tab:first-child {
  border-left: 1px solid #a2b4b4;
}
.cs-tabs-container .cs-tabs .cs-tab a {
  text-decoration: none;
  color: #1d1d1d;
}
.cs-tabs-container .cs-tabs .cs-tab.selected {
  line-height: 36px;
  background-color: #ecf6f6;
  border-bottom: 4px solid #cd6033;
}
.cs-tabs-container .cs-tab-content {
  width: 100%;
  padding: 20px 0;
  flex: 1;
  background-color: #ecf6f6;
}
.cs-tabs-container .cs-tab-content h1 {
  text-align: center;
}

header.cs-header {
  text-align: center;
}

.cs-table {
  width: 100%;
  border: none;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}
.cs-table tr {
  border: none;
}
.cs-table tr:nth-child(even) {
  background-color: #ededed;
}
.cs-table tr:nth-child(odd) {
  background-color: #fbe8e1;
}
.cs-table tr th {
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #a2b4b4;
}
.cs-table tr td {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.cs-form {
  margin: 20px auto;
  padding: 20px;
  background-color: #fbe8e1;
  max-width: 500px;
}
.cs-form label {
  display: block;
}
.cs-form input:not([type='checkbox']) , .cs-form select, .cs-form textarea {
  width: 100%;
  padding: 10px !important;
  font-size: 14px;
  line-height: 20px;
}

.cs-form-supplement {
  margin: 20px auto;
  padding: 20px;
  background-color: #ecf6f6;
}

.cs-loading {
  margin: 10px;
  vertical-align: middle;
}
.cs-loading::before {
  content: "";
  border: 4px solid #ecf6f6;
  border-top: 4px solid #cd6033;
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  animation: spin 2s linear infinite;
}

a.cs-action-button, button.cs-action-button, input.cs-action-button {
  padding: 10px 20px;
  text-align: center;
  background-color: #cd6033;
  color: #ecf6f6;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
a.cs-action-button:hover, a.cs-action-button:active, button.cs-action-button:hover, button.cs-action-button:active, input.cs-action-button:hover, input.cs-action-button:active {
  opacity: 0.8;
}
a.cs-action-button:disabled, button.cs-action-button:disabled, input.cs-action-button:disabled {
  opacity: 0.3;
}

a.cs-secondary-button, button.cs-secondary-button, input.cs-secondary-button, span.cs-secondary-button {
  padding: 5px 10px;
  text-align: center;
  background-color: #ecf6f6;
  color: #1d1d1d;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #1d1d1d;
  cursor: pointer;
}
a.cs-secondary-button:hover, a.cs-secondary-button:active, button.cs-secondary-button:hover, button.cs-secondary-button:active, input.cs-secondary-button:hover, input.cs-secondary-button:active, span.cs-secondary-button:hover, span.cs-secondary-button:active {
  opacity: 0.8;
}
a.cs-secondary-button:disabled, button.cs-secondary-button:disabled, input.cs-secondary-button:disabled, span.cs-secondary-button:disabled {
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
